<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=profile email openid&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=http://127.0.0.1:8000/api/v1/users/google/login/&response_type=code&client_id=191766711304-5luk2f1eot5v5grbiv3jros8in5t3gjv.apps.googleusercontent.com">
    Continue with Google!
</a>

</body>
</html>